n8n/DAILY_APPOINTMENT_CONFIRMATION_REMINDERS.workflow.json
{
  "name": "APPOINTMENT_CUSTOMER_NOTIFICATIONS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "2c92a63e-f116-4a6f-85f5-ac1fa3150754",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_list_due_notifications'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_now",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "p_timezone",
              "value": "America/Fortaleza"
            }
          ]
        },
        "options": {}
      },
      "id": "869e1e96-03e3-438b-b1e3-a8a236b10f0a",
      "name": "RPC_list_due_notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const template = String($json.message_template ?? '');\nconst replacements = {\n  tenant_name: $json.tenant_name ?? '',\n  customer_name: $json.customer_name ?? '',\n  appointment_date: $json.appointment_date ?? '',\n  appointment_time: $json.appointment_time ?? '',\n  service_name: $json.service_name ?? '',\n  staff_member_name: $json.staff_member_name ?? ''\n};\nlet rendered = template;\nfor (const [key, value] of Object.entries(replacements)) {\n  rendered = rendered.replaceAll('{{' + key + '}}', String(value || '-'));\n}\nconst isConfirmation = $json.notification_type === 'confirmation';\nreturn {\n  ...$json,\n  wa_to: $json.customer_phone_e164,\n  rendered_message: rendered,\n  message_type: isConfirmation ? 'buttons' : 'text',\n  buttons: isConfirmation ? [\n    { id: 'appointment_confirm_yes', title: 'Confirmar' },\n    { id: 'appointment_reschedule', title: 'Remarcar' },\n    { id: 'appointment_cancel', title: 'Cancelar' }\n  ] : []\n};"
      },
      "id": "56db307d-733f-4b2c-af31-fddbf3d18299",
      "name": "FN_render_notification_message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.meuassistentevirtual.com.br/api/internal/whatsapp/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$json.wa_to}}"
            },
            {
              "name": "type",
              "value": "={{$json.message_type}}"
            },
            {
              "name": "body",
              "value": "={{$json.rendered_message}}"
            },
            {
              "name": "buttons",
              "value": "={{$json.buttons}}"
            },
            {
              "name": "preview_url",
              "value": "false"
            }
          ]
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "c79c15c2-61f7-45db-8db9-e5626c91242d",
      "name": "HTTP_send_whatsapp_notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        20,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z4CAOHz1vk10Tghh",
          "name": "Assistente Jack - Envio interno WhatsApp"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_mark_notification_sent'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_appointment_id",
              "value": "={{$node[\"FN_render_notification_message\"].json.appointment_id}}"
            },
            {
              "name": "p_reminder_key",
              "value": "={{$node[\"FN_render_notification_message\"].json.reminder_key}}"
            },
            {
              "name": "p_notification_type",
              "value": "={{$node[\"FN_render_notification_message\"].json.notification_type}}"
            },
            {
              "name": "p_rendered_message",
              "value": "={{$node[\"FN_render_notification_message\"].json.rendered_message}}"
            },
            {
              "name": "p_payload",
              "value": "={{ { wa_to: $node[\"FN_render_notification_message\"].json.wa_to, provider_response: $json } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b1aca28-7d36-4635-8f2c-a4af85a37c85",
      "name": "RPC_mark_notification_sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        260,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RPC_list_due_notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_list_due_notifications": {
      "main": [
        [
          {
            "node": "FN_render_notification_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_render_notification_message": {
      "main": [
        [
          {
            "node": "HTTP_send_whatsapp_notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_send_whatsapp_notification": {
      "main": [
        [
          {
            "node": "RPC_mark_notification_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
