n8n/DAILY_TENANT_AGENDA_REMINDERS.workflow.json
{
  "name": "DAILY_TENANT_AGENDA_REMINDERS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "f6fb76c5-4c61-40a0-b7c3-35a35c10042f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_tenant_daily_agenda_list_due_reminders'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_window_minutes",
              "value": "15"
            }
          ]
        },
        "options": {}
      },
      "id": "5b42ff42-afca-4f32-9d49-f77468f55408",
      "name": "RPC_list_due_tenant_agendas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  ...$json,\n  wa_to: $json.recipient_e164,\n  rendered_message: $json.rendered_message\n};"
      },
      "id": "506570b4-b3ec-4c44-9c82-93dd8aa8dd7b",
      "name": "FN_prepare_message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_BASE_URL.replace(/\\/$/, '') + '/api/internal/whatsapp/send'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.WHATSAPP_INTERNAL_SEND_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$json.wa_to}}"
            },
            {
              "name": "body",
              "value": "={{$json.rendered_message}}"
            },
            {
              "name": "preview_url",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "4e2ae34f-5528-4a1d-a924-b7092495f6db",
      "name": "HTTP_send_whatsapp_text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_tenant_daily_agenda_mark_reminder_sent'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_tenant_id",
              "value": "={{$json.tenant_id}}"
            },
            {
              "name": "p_reminder_date",
              "value": "={{$json.reminder_date}}"
            },
            {
              "name": "p_recipient_e164",
              "value": "={{$json.wa_to}}"
            },
            {
              "name": "p_rendered_message",
              "value": "={{$json.rendered_message}}"
            },
            {
              "name": "p_payload",
              "value": "={{$json.payload}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f17c93e4-1a81-4988-bb4b-db8b8eb7857e",
      "name": "RPC_mark_tenant_agenda_sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        260,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RPC_list_due_tenant_agendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_list_due_tenant_agendas": {
      "main": [
        [
          {
            "node": "FN_prepare_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_prepare_message": {
      "main": [
        [
          {
            "node": "HTTP_send_whatsapp_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_send_whatsapp_text": {
      "main": [
        [
          {
            "node": "RPC_mark_tenant_agenda_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
