n8n/DAILY_BILLING_REMINDERS.workflow.json
{
  "name": "DAILY_BILLING_REMINDERS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "billing-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -900,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/admin_generate_billing_cycles_for_all_tenants'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_reference_date",
              "value": "={{ new Date().toLocaleDateString('en-CA', { timeZone: 'America/Fortaleza' }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "billing-generate",
      "name": "RPC admin_generate_billing_cycles_for_all_tenants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/admin_list_due_cycles_for_date'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_run_date",
              "value": "={{ new Date().toLocaleDateString('en-CA', { timeZone: 'America/Fortaleza' }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "billing-list",
      "name": "RPC admin_list_due_cycles_for_date",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function formatAmount(cents) {\n  return `R$ ${(Number(cents || 0) / 100).toFixed(2).replace('.', ',')}`;\n}\nfunction formatDate(value) {\n  if (!value) return '';\n  const [year, month, day] = String(value).slice(0, 10).split('-');\n  return year && month && day ? `${day}/${month}/${year}` : String(value);\n}\nconst customerName = String($json.customer_name ?? 'Cliente');\nconst tenantName = String($json.tenant_name ?? 'seu estabelecimento');\nconst amount = formatAmount($json.amount_cents);\nconst dueDate = formatDate($json.due_date);\nconst pixKey = String($json.pix_key ?? 'não configurada');\nreturn {\n  ...$json,\n  wa_to: $json.customer_phone,\n  rendered_message: `Olá, ${customerName}! 😊\\n\\nPassando para lembrar que sua mensalidade com ${tenantName}, no valor de ${amount}, vence em ${dueDate}.\\n\\n💳 Chave Pix: ${pixKey}\\n\\nSe você já realizou o pagamento, pode desconsiderar esta mensagem.\\n\\nEm caso de dúvida, fale com a equipe de ${tenantName}. Estamos à disposição!`,\n  message_type: 'template',\n  template_name: 'jack_billing_due_reminder_v2',\n  template_language: 'pt_BR',\n  template_body_parameters: [customerName, tenantName, amount, dueDate, pixKey]\n};"
      },
      "id": "billing-render",
      "name": "FN_render_billing_message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.meuassistentevirtual.com.br/api/internal/whatsapp/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$json.wa_to}}"
            },
            {
              "name": "type",
              "value": "={{$json.message_type}}"
            },
            {
              "name": "body",
              "value": "={{$json.rendered_message}}"
            },
            {
              "name": "template_name",
              "value": "={{$json.template_name}}"
            },
            {
              "name": "template_language",
              "value": "={{$json.template_language}}"
            },
            {
              "name": "template_body_parameters",
              "value": "={{$json.template_body_parameters}}"
            }
          ]
        },
        "options": {}
      },
      "id": "billing-send",
      "name": "HTTP_send_billing_template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        60,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z4CAOHz1vk10Tghh",
          "name": "Assistente Jack - Envio interno WhatsApp"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/admin_mark_cycle_reminder_sent'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_billing_cycle_id",
              "value": "={{$node[\"FN_render_billing_message\"].json.billing_cycle_id}}"
            },
            {
              "name": "p_rendered_message",
              "value": "={{$node[\"FN_render_billing_message\"].json.rendered_message}}"
            }
          ]
        },
        "options": {}
      },
      "id": "billing-mark",
      "name": "RPC admin_mark_cycle_reminder_sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        300,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RPC admin_generate_billing_cycles_for_all_tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC admin_generate_billing_cycles_for_all_tenants": {
      "main": [
        [
          {
            "node": "RPC admin_list_due_cycles_for_date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC admin_list_due_cycles_for_date": {
      "main": [
        [
          {
            "node": "FN_render_billing_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_render_billing_message": {
      "main": [
        [
          {
            "node": "HTTP_send_billing_template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_send_billing_template": {
      "main": [
        [
          {
            "node": "RPC admin_mark_cycle_reminder_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
