n8n/DAILY_TENANT_AGENDA_REMINDERS.workflow.json
{
  "name": "DAILY_TENANT_AGENDA_REMINDERS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "f6fb76c5-4c61-40a0-b7c3-35a35c10042f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_tenant_daily_agenda_list_due_reminders'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_window_minutes",
              "value": "15"
            }
          ]
        },
        "options": {}
      },
      "id": "5b42ff42-afca-4f32-9d49-f77468f55408",
      "name": "RPC_list_due_tenant_agendas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const appointments = Array.isArray($json.payload?.appointments) ? $json.payload.appointments : [];\nconst agendaLines = appointments.length > 0 ? appointments.map((appointment, index) => {\n  const service = appointment.service_name ? ' - ' + appointment.service_name : '';\n  const staff = appointment.staff_member_name ? ' com ' + appointment.staff_member_name : '';\n  return (index + 1) + ') ' + (appointment.time || '--:--') + ' - ' + (appointment.customer_name || 'Sem nome') + service + staff;\n}).join('\\n') : 'Nenhum agendamento marcado para hoje.';\nconst dateParts = String($json.reminder_date ?? '').split('-');\nconst displayDate = dateParts.length === 3 ? dateParts[2] + '/' + dateParts[1] + '/' + dateParts[0] : String($json.reminder_date ?? '');\nreturn {\n  ...$json,\n  wa_to: $json.recipient_e164,\n  rendered_message: $json.rendered_message,\n  message_type: 'template',\n  template_name: 'jack_daily_agenda_summary_v2',\n  template_language: 'pt_BR',\n  template_body_parameters: [$json.tenant_name ?? '', displayDate, agendaLines, String($json.appointment_count ?? appointments.length)]\n};"
      },
      "id": "506570b4-b3ec-4c44-9c82-93dd8aa8dd7b",
      "name": "FN_prepare_message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.meuassistentevirtual.com.br/api/internal/whatsapp/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$json.wa_to}}"
            },
            {
              "name": "type",
              "value": "={{$json.message_type}}"
            },
            {
              "name": "body",
              "value": "={{$json.rendered_message}}"
            },
            {
              "name": "template_name",
              "value": "={{$json.template_name}}"
            },
            {
              "name": "template_language",
              "value": "={{$json.template_language}}"
            },
            {
              "name": "template_body_parameters",
              "value": "={{$json.template_body_parameters}}"
            },
            {
              "name": "preview_url",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "4e2ae34f-5528-4a1d-a924-b7092495f6db",
      "name": "HTTP_send_whatsapp_text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z4CAOHz1vk10Tghh",
          "name": "Assistente Jack - Envio interno WhatsApp"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_tenant_daily_agenda_mark_reminder_sent'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_tenant_id",
              "value": "={{$node[\"FN_prepare_message\"].json.tenant_id}}"
            },
            {
              "name": "p_reminder_date",
              "value": "={{$node[\"FN_prepare_message\"].json.reminder_date}}"
            },
            {
              "name": "p_recipient_e164",
              "value": "={{$node[\"FN_prepare_message\"].json.wa_to}}"
            },
            {
              "name": "p_rendered_message",
              "value": "={{$node[\"FN_prepare_message\"].json.rendered_message}}"
            },
            {
              "name": "p_payload",
              "value": "={{$node[\"FN_prepare_message\"].json.payload}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f17c93e4-1a81-4988-bb4b-db8b8eb7857e",
      "name": "RPC_mark_tenant_agenda_sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        260,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RPC_list_due_tenant_agendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_list_due_tenant_agendas": {
      "main": [
        [
          {
            "node": "FN_prepare_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_prepare_message": {
      "main": [
        [
          {
            "node": "HTTP_send_whatsapp_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_send_whatsapp_text": {
      "main": [
        [
          {
            "node": "RPC_mark_tenant_agenda_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
