n8n/WA_INBOUND_ROUTER_v1.workflow.json
{
  "name": "WA_INBOUND_ROUTER_v1",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-inbound-router-v1",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5db6746f-cd1f-4bd3-8b33-18c8762d9d15",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "f97fd090-f87f-4ce4-86c0-dc78e69a6e62",
      "position": [-600, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZPBjPrT60neI8jVC",
          "name": "Assistente Jack - inbound router bearer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/admin_whatsapp_router_step'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_customer_phone_e164", "value": "={{$json.body.customer_phone_e164 ?? $json.body.from ?? $json.body.chat_id}}" },
            { "name": "p_message", "value": "={{$json.body.text ?? $json.body.message ?? ''}}" },
            { "name": "p_message_id", "value": "={{$json.body.message_id ?? null}}" },
            { "name": "p_inbox_thread_id", "value": "={{$json.body.inbox_routed ? $json.body.inbox_thread_id : null}}" }
          ]
        },
        "options": {}
      },
      "id": "e8060230-6bf3-4a05-94f3-cce5276ba59c",
      "name": "Route with Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-340, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { ...$json, dispatch_to_module: Boolean($json.request_dispatch) };"
      },
      "id": "a1795e03-a9fb-41b8-a4cd-c260f6760b03",
      "name": "Apply dispatch gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 0]
    },
    {
      "parameters": {},
      "id": "492f5f35-90c8-4674-b19a-6476c6d46816",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [180, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Route with Supabase", "type": "main", "index": 0 }]] },
    "Route with Supabase": { "main": [[{ "node": "Apply dispatch gate", "type": "main", "index": 0 }]] },
    "Apply dispatch gate": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true }
}
