n8n/WA_TENANT_APPOINTMENTS_INBOUND_v1.workflow.json
{
  "name": "WA_TENANT_APPOINTMENTS_INBOUND_v1",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-tenant-appointments-inbound-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f3a90a2a-57e8-48f2-89fd-c20d6dff23b7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "a847a4f2-c02a-4d3d-a578-ff24cb82cc1f",
      "position": [
        -900,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? {};\nconst onlyDigits = (value) => String(value ?? '').replace(/\\D/g, '');\nconst normalizeBrazilPhone = (value) => {\n  const digits = onlyDigits(value);\n  if (digits.length === 10 || digits.length === 11) return `55${digits}`;\n  return digits;\n};\nconst chatId = String(body.chat_id ?? body.from ?? body.customer_phone ?? '').replace(/\\s+/g, '').trim();\nconst msg = String(body.text ?? body.message ?? '').replace(/\\s+/g, ' ').trim();\nreturn {\n  tenant_id: body.tenant_id || null,\n  tenant_phone_e164: normalizeBrazilPhone(body.tenant_phone_e164 ?? body.to ?? body.receiver ?? ''),\n  customer_phone_e164: normalizeBrazilPhone(body.customer_phone_e164 ?? body.from ?? body.chat_id ?? ''),\n  chat_id: chatId,\n  msg,\n  raw_body: body\n};"
      },
      "id": "0e5e4f4a-96cf-4dc8-ae3f-2e7f049d5e75",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_load_or_create_context'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_tenant_id",
              "value": "={{$json.tenant_id}}"
            },
            {
              "name": "p_tenant_phone_e164",
              "value": "={{$json.tenant_phone_e164}}"
            },
            {
              "name": "p_chat_id",
              "value": "={{$json.chat_id}}"
            },
            {
              "name": "p_init_payload",
              "value": "={{ { appointment: { customer_whatsapp: $json.customer_phone_e164 } } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef021dc9-65be-452b-807a-76e2705706a8",
      "name": "RPC_load_context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = Array.isArray($json) ? $json[0] : $json;\nconst msg = String($node.Normalize.json.msg ?? '').trim();\nconst customerPhone = String($node.Normalize.json.customer_phone_e164 ?? '').trim();\nconst payload = row.payload_draft ?? {};\nconst draft = payload.appointment ?? {};\nconst services = Array.isArray(row.services) ? row.services : [];\nconst staff = Array.isArray(row.staff_members) ? row.staff_members : [];\nconst upcomingAppointments = Array.isArray(row.upcoming_appointments) ? row.upcoming_appointments : [];\nconst step = row.step || 'appointment_welcome';\nconst tenantName = row.tenant_name || 'nossa equipe';\n\nfunction reply(text, nextStep, patch = {}, close = false) {\n  return [{ json: { action: 'patch', reply: text, conversation_id: row.conversation_id, next_step: nextStep, p_close: close, data_patch: { appointment: { ...patch, customer_whatsapp: customerPhone || draft.customer_whatsapp || null }, metadata: { last_step: nextStep, updated_at: new Date().toISOString() } } } }];\n}\n\nfunction suggestSlots(nextStep, patch = {}) {\n  const merged = { ...draft, ...patch };\n  return [{ json: { action: 'suggest_slots', conversation_id: row.conversation_id, next_step: nextStep, p_close: false, data_patch: { appointment: { ...merged, customer_whatsapp: customerPhone || draft.customer_whatsapp || null }, metadata: { last_step: nextStep, updated_at: new Date().toISOString() } }, suggest_body: { p_tenant_id: row.tenant_id, p_service_id: merged.service_id, p_staff_member_id: merged.staff_member_id || null, p_from_date: merged.from_date || new Date().toLocaleDateString('en-CA', { timeZone: 'America/Fortaleza' }), p_period: merged.period || null, p_limit: 5, p_offset: Number(merged.slot_offset || 0), p_days_ahead: 60, p_timezone: 'America/Fortaleza' } } }];\n}\n\nfunction createAppointment() {\n  const service = services.find((item) => item.id === draft.service_id) ?? null;\n  const staffMember = staff.find((item) => item.id === draft.staff_member_id) ?? null;\n  return [{ json: { action: 'create', conversation_id: row.conversation_id, next_step: 'appointment_done', p_close: true, create_body: { p_tenant_id: row.tenant_id, p_full_name: draft.full_name, p_cpf: draft.cpf, p_whatsapp_e164: customerPhone || draft.customer_whatsapp, p_birth_date: draft.birth_date, p_service_id: draft.service_id || null, p_staff_member_id: draft.staff_member_id || null, p_starts_at: draft.starts_at, p_ends_at: draft.ends_at, p_title: service ? service.name : 'Agendamento via WhatsApp', p_notes: 'Criado via WhatsApp' + (staffMember ? ' com ' + staffMember.name : '') + '.' } } }];\n}\n\nfunction applyAppointmentAction(action, patch = {}) {\n  const merged = { ...draft, ...patch };\n  return [{ json: { action: 'apply_action', conversation_id: row.conversation_id, next_step: action === 'reschedule' ? 'appointment_rescheduled' : 'appointment_done', p_close: true, applied_action: action, apply_body: { p_appointment_id: merged.appointment_id, p_action: action, p_new_starts_at: merged.starts_at || null, p_new_ends_at: merged.ends_at || null, p_note: 'Alteracao solicitada pelo cliente via WhatsApp.' }, data_patch: { appointment: { ...merged, customer_whatsapp: customerPhone || draft.customer_whatsapp || null }, metadata: { last_step: 'appointment_done', updated_at: new Date().toISOString() } } } }];\n}\n\nfunction parseCpf(value) {\n  const cpf = String(value ?? '').replace(/\\D/g, '');\n  if (cpf.length !== 11 || /^(\\d)\\1{10}$/.test(cpf)) return null;\n  return cpf;\n}\n\nfunction parseDateBR(value) {\n  const match = String(value ?? '').trim().match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (!match) return null;\n  const iso = match[3] + '-' + match[2].padStart(2, '0') + '-' + match[1].padStart(2, '0');\n  const date = new Date(iso + 'T00:00:00-03:00');\n  if (Number.isNaN(date.getTime())) return null;\n  return iso;\n}\n\nfunction periodFromMessage(value) {\n  const normalized = String(value ?? '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').trim();\n  if (['1', 'manha', 'morning'].includes(normalized)) return { key: 'morning', label: 'manha' };\n  if (['2', 'tarde', 'afternoon'].includes(normalized)) return { key: 'afternoon', label: 'tarde' };\n  if (['3', 'noite', 'night'].includes(normalized)) return { key: 'night', label: 'noite' };\n  if (['4', 'qualquer', 'primeiro', 'primeiro horario', 'any'].includes(normalized)) return { key: 'any', label: 'primeiro horario livre' };\n  return null;\n}\n\nfunction renderServiceMenu() {\n  if (!services.length) return 'Ainda nao ha servicos cadastrados para este tenant. Fale com a equipe para configurar a agenda.';\n  return 'Escolha o servico:\\n' + services.map((service, index) => String(index + 1) + ') ' + service.name + (service.duration_minutes ? ' - ' + service.duration_minutes + 'min' : '')).join('\\n');\n}\n\nfunction staffForService(serviceId) {\n  const service = services.find((item) => item.id === serviceId) ?? null;\n  const linkedIds = Array.isArray(service?.staff_member_ids) ? service.staff_member_ids : [];\n  return staff.filter((member) => linkedIds.includes(member.id));\n}\n\nfunction renderStaffMenu(candidates = staffForService(draft.service_id)) {\n  if (!candidates.length) return 'Ainda nao ha profissionais vinculados a este servico. Fale com a equipe para configurar a agenda.';\n  return 'Escolha o profissional:\\n' + candidates.map((member, index) => String(index + 1) + ') ' + member.name).join('\\n');\n}\n\nfunction continueAfterServiceSelection(selected, baseDraft) {\n  const candidates = staffForService(selected.id);\n  const nextDraft = { ...baseDraft, service_id: selected.id, service_name: selected.name, duration_minutes: selected.duration_minutes };\n  if (!candidates.length) return reply(renderStaffMenu(candidates), 'choose_service', draft);\n  if (candidates.length === 1) {\n    const only = candidates[0];\n    return reply(renderPeriodMenu(), 'choose_period', { ...nextDraft, staff_member_id: only.id, staff_member_name: only.name, slot_offset: 0 });\n  }\n  return reply(renderStaffMenu(candidates), 'choose_staff', nextDraft);\n}\n\nfunction renderPeriodMenu(prefix = 'Qual periodo voce prefere?') {\n  return prefix + '\\n1) Manha\\n2) Tarde\\n3) Noite\\n4) Primeiro horario livre';\n}\n\nfunction pickSlot(value) {\n  const index = Number(value) - 1;\n  const slots = Array.isArray(draft.available_slots) ? draft.available_slots : [];\n  return slots[index] ?? null;\n}\n\nfunction normalizeAction(value) {\n  return String(value ?? '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').trim();\n}\n\nfunction renderMainMenu(welcome = '') {\n  const prefix = welcome ? welcome + '\\n\\n' : '';\n  return prefix + 'O que deseja fazer?\\n1) Agendar\\n2) Remarcar agendamento\\n3) Cancelar agendamento';\n}\n\nfunction renderExistingAppointmentMenu(actionLabel) {\n  if (!upcomingAppointments.length) return 'Nao encontrei agendamentos futuros para este WhatsApp. Fale com a equipe para ' + actionLabel + '.';\n  return 'Escolha qual agendamento deseja ' + actionLabel + ':\\n' + upcomingAppointments.map((appointment, index) => String(index + 1) + ') ' + appointment.label).join('\\n');\n}\n\nfunction pickExistingAppointment(value) {\n  const index = Number(value) - 1;\n  return upcomingAppointments[index] ?? null;\n}\n\nfunction actionFromMessage(value) {\n  const normalized = normalizeAction(value);\n  if (['1', 'agendar', 'agenda', 'marcar', 'novo', 'novo agendamento'].includes(normalized)) return 'schedule';\n  if (['2', 'remarcar', 'reagendar', 'mudar horario', 'alterar'].includes(normalized)) return 'reschedule';\n  if (['3', 'cancelar', 'cancelamento', 'desmarcar'].includes(normalized)) return 'cancel';\n  return null;\n}\n\nfunction startExistingAppointmentAction(action) {\n  const actionLabel = action === 'cancel' ? 'cancelar' : 'remarcar';\n  if (!upcomingAppointments.length) return reply('Nao encontrei agendamentos futuros para este WhatsApp. Fale com a equipe para ' + actionLabel + '.', 'appointment_done', draft, true);\n  if (upcomingAppointments.length === 1) {\n    const appointment = upcomingAppointments[0];\n    return reply('Para ' + actionLabel + ' este agendamento, confirme sua data de nascimento no formato DD/MM/AAAA.\\n\\n' + appointment.label, 'confirm_existing_appointment_identity', { ...draft, pending_action: action, appointment_id: appointment.appointment_id, customer_birth_date: appointment.customer_birth_date, service_id: appointment.service_id, service_name: appointment.service_name, staff_member_id: appointment.staff_member_id, staff_member_name: appointment.staff_member_name, duration_minutes: appointment.duration_minutes, slot_offset: 0 });\n  }\n  return reply(renderExistingAppointmentMenu(actionLabel), 'choose_existing_appointment', { ...draft, pending_action: action });\n}\n\nif (!msg && step !== 'appointment_welcome') return reply('Nao recebi nenhuma mensagem. Pode enviar novamente?', step, draft);\n\nif (step === 'appointment_confirmation_action') {\n  const normalized = msg.toLowerCase();\n  if (['1', 'confirmar', 'confirmo', 'sim', 's'].includes(normalized)) return applyAppointmentAction('confirm');\n  if (['3', 'cancelar', 'cancela'].includes(normalized)) return applyAppointmentAction('cancel');\n  if (['2', 'remarcar'].includes(normalized)) return reply('Claro. Para remarcar, confirme sua data de nascimento no formato DD/MM/AAAA.', 'reschedule_confirm_identity', { ...draft, reschedule: true, slot_offset: 0 });\n  return reply('Responda 1 para confirmar, 2 para remarcar ou 3 para cancelar.', step, draft);\n}\n\nif (['menu', '0', 'inicio', 'iniciar'].includes(normalizeAction(msg)) || step === 'appointment_welcome') {\n  const welcome = String(row.welcome_message || '').replaceAll('{{tenant_name}}', tenantName);\n  return reply(renderMainMenu(welcome), 'choose_appointment_action', {});\n}\n\nif (step === 'choose_appointment_action') {\n  const action = actionFromMessage(msg);\n  if (!action) return reply(renderMainMenu('Nao entendi sua escolha.'), step, draft);\n  if (action === 'schedule') return reply('Perfeito. Para comecar, envie seu nome completo.', 'collect_full_name', draft);\n  return startExistingAppointmentAction(action);\n}\n\nif (step === 'choose_existing_appointment') {\n  const appointment = pickExistingAppointment(msg);\n  const action = draft.pending_action === 'cancel' ? 'cancel' : 'reschedule';\n  const actionLabel = action === 'cancel' ? 'cancelar' : 'remarcar';\n  if (!appointment) return reply(renderExistingAppointmentMenu(actionLabel), step, draft);\n  return reply('Para ' + actionLabel + ' este agendamento, confirme sua data de nascimento no formato DD/MM/AAAA.\\n\\n' + appointment.label, 'confirm_existing_appointment_identity', { ...draft, pending_action: action, appointment_id: appointment.appointment_id, customer_birth_date: appointment.customer_birth_date, service_id: appointment.service_id, service_name: appointment.service_name, staff_member_id: appointment.staff_member_id, staff_member_name: appointment.staff_member_name, duration_minutes: appointment.duration_minutes, slot_offset: 0 });\n}\n\nif (step === 'confirm_existing_appointment_identity') {\n  const birthDate = parseDateBR(msg);\n  if (!birthDate) return reply('Data invalida. Envie no formato DD/MM/AAAA para confirmar sua identidade.', step, draft);\n  if (draft.customer_birth_date && birthDate !== draft.customer_birth_date) {\n    return reply('Nao consegui confirmar sua identidade. Fale com a equipe para alterar este agendamento.', 'appointment_done', draft, true);\n  }\n  if (draft.pending_action === 'cancel') return applyAppointmentAction('cancel', draft);\n  return reply(renderPeriodMenu('Identidade confirmada. Para remarcar, escolha um periodo:'), 'reschedule_choose_period', { ...draft, identity_confirmed: true });\n}\n\nif (step === 'collect_full_name') {\n  const name = msg.replace(/\\s+/g, ' ').trim();\n  if (name.split(' ').filter(Boolean).length < 2) return reply('Me informe seu nome completo, por favor. Ex: Joao Silva.', step, draft);\n  return reply('Perfeito. Agora envie seu CPF com 11 digitos.', 'collect_cpf', { ...draft, full_name: name });\n}\n\nif (step === 'collect_cpf') {\n  const cpf = parseCpf(msg);\n  if (!cpf) return reply('CPF invalido. Envie apenas os 11 digitos.', step, draft);\n  return reply('Agora envie sua data de nascimento no formato DD/MM/AAAA.', 'collect_birth_date', { ...draft, cpf });\n}\n\nif (step === 'collect_birth_date') {\n  const birthDate = parseDateBR(msg);\n  if (!birthDate) return reply('Data invalida. Envie no formato DD/MM/AAAA.', step, draft);\n  const nextDraft = { ...draft, birth_date: birthDate };\n  if (services.length === 1) return continueAfterServiceSelection(services[0], nextDraft);\n  return reply(renderServiceMenu(), 'choose_service', nextDraft);\n}\n\nif (step === 'reschedule_confirm_identity') {\n  const birthDate = parseDateBR(msg);\n  if (!birthDate) return reply('Data invalida. Envie no formato DD/MM/AAAA para confirmar sua identidade.', step, draft);\n  if (draft.customer_birth_date && birthDate !== draft.customer_birth_date) {\n    return reply('Nao consegui confirmar sua identidade. Fale com a equipe para remarcar este horario.', 'appointment_done', draft, true);\n  }\n  return reply(renderPeriodMenu('Identidade confirmada. Para remarcar, escolha um periodo:'), 'reschedule_choose_period', { ...draft, identity_confirmed: true });\n}\n\nif (step === 'choose_service') {\n  if (!services.length) return reply(renderServiceMenu(), step, draft);\n  const selected = services[Number(msg) - 1];\n  if (!selected) return reply(renderServiceMenu(), step, draft);\n  return continueAfterServiceSelection(selected, draft);\n}\n\nif (step === 'choose_staff') {\n  const candidates = staffForService(draft.service_id);\n  const selected = candidates[Number(msg) - 1];\n  if (!selected) return reply(renderStaffMenu(candidates), step, draft);\n  return reply(renderPeriodMenu(), 'choose_period', { ...draft, staff_member_id: selected.id, staff_member_name: selected.name, slot_offset: 0 });\n}\n\nif (step === 'choose_period' || step === 'reschedule_choose_period') {\n  const period = periodFromMessage(msg);\n  if (!period) return reply(renderPeriodMenu('Nao entendi. Escolha um periodo:'), step, draft);\n  const nextStep = step === 'reschedule_choose_period' ? 'reschedule_select_slot' : 'select_slot';\n  return suggestSlots(nextStep, { ...draft, period: period.key, period_label: period.label, slot_offset: 0 });\n}\n\nif (step === 'select_slot' || step === 'reschedule_select_slot') {\n  const normalized = msg.toLowerCase();\n  if (['mais', 'mais opcoes', 'mais op??es', 'm'].includes(normalized)) {\n    const currentSlots = Array.isArray(draft.available_slots) ? draft.available_slots : [];\n    return suggestSlots(step, { ...draft, slot_offset: Number(draft.slot_offset || 0) + currentSlots.length });\n  }\n  const slot = pickSlot(msg);\n  if (!slot) return reply('Escolha uma das opcoes pelo numero ou envie *mais* para ver outros horarios.', step, draft);\n  if (step === 'reschedule_select_slot') {\n    return applyAppointmentAction('reschedule', { ...draft, starts_at: slot.starts_at, ends_at: slot.ends_at, staff_member_id: slot.staff_member_id || draft.staff_member_id || null, staff_member_name: slot.staff_member_name || draft.staff_member_name || null });\n  }\n  const summary = 'Confirme seu agendamento:\\n\\nNome: ' + draft.full_name + '\\nServico: ' + (draft.service_name || '-') + '\\nProfissional: ' + (slot.staff_member_name || draft.staff_member_name || 'Sem preferencia') + '\\nHorario: ' + slot.label + '\\n\\nResponda *sim* para confirmar ou *0* para recomecar.';\n  return reply(summary, 'confirm_appointment', { ...draft, starts_at: slot.starts_at, ends_at: slot.ends_at, staff_member_id: slot.staff_member_id || draft.staff_member_id || null, staff_member_name: slot.staff_member_name || draft.staff_member_name || null, selected_slot_label: slot.label });\n}\n\nif (step === 'confirm_appointment') {\n  if (!['sim', 's', 'confirmar', 'confirmo'].includes(msg.toLowerCase())) return reply('Tudo bem. Envie 0 para recomecar ou responda *sim* para confirmar os dados acima.', step, draft);\n  return createAppointment();\n}\n\nreturn reply('Vamos recomecar. Me informe seu nome completo.', 'collect_full_name', {});"
      },
      "id": "4aef57e8-30f8-492f-8a3f-fc4f824b5f08",
      "name": "FN_appointment_state_machine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "suggest_slots",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "apply_action",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "09ec23bf-261a-4b54-b7d1-06d40143366c",
      "name": "Switch_action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_create_external'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.create_body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "ddf58fb9-2abd-46f2-824c-78ee5c72b704",
      "name": "RPC_create_appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const appointmentId = $json.data ?? $json.body ?? $json;\nreturn [{ json: {\n  reply: 'Agendamento confirmado! Em breve a equipe pode falar com voce por aqui se precisar ajustar algo.',\n  conversation_id: $node.FN_appointment_state_machine.json.conversation_id,\n  next_step: 'appointment_done',\n  p_close: true,\n  data_patch: {\n    appointment: {\n      appointment_id: Array.isArray(appointmentId) ? appointmentId[0] : appointmentId\n    },\n    metadata: {\n      completed_at: new Date().toISOString()\n    }\n  }\n}}];"
      },
      "id": "068040f7-d14a-4f2e-8110-97c44d3178a8",
      "name": "FN_render_success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_conversation_patch'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_conversation_id",
              "value": "={{$json.conversation_id}}"
            },
            {
              "name": "p_step",
              "value": "={{$json.next_step}}"
            },
            {
              "name": "p_patch",
              "value": "={{$json.data_patch}}"
            },
            {
              "name": "p_close",
              "value": "={{$json.p_close || false}}"
            }
          ]
        },
        "options": {}
      },
      "id": "bfdc7816-90d2-4591-9a1c-fe9819e624b2",
      "name": "RPC_patch_conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        820,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$node.FN_appointment_state_machine.json.reply}}",
        "options": {}
      },
      "id": "0d51bc09-02b1-4358-a17e-e42798e22e88",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1080,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_conversation_patch'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_conversation_id",
              "value": "={{$json.conversation_id}}"
            },
            {
              "name": "p_step",
              "value": "={{$json.next_step}}"
            },
            {
              "name": "p_patch",
              "value": "={{$json.data_patch}}"
            },
            {
              "name": "p_close",
              "value": "={{$json.p_close || false}}"
            }
          ]
        },
        "options": {}
      },
      "id": "be1cfc87-1eb0-46ac-b4e5-a69223ce530a",
      "name": "RPC_patch_slots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        820,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$node.FN_render_slots.json.reply}}",
        "options": {}
      },
      "id": "debd850a-a0fa-47fc-9cc5-6bc82840b1f6",
      "name": "Respond_slots",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1080,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_conversation_patch'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_conversation_id",
              "value": "={{$json.conversation_id}}"
            },
            {
              "name": "p_step",
              "value": "={{$json.next_step}}"
            },
            {
              "name": "p_patch",
              "value": "={{$json.data_patch}}"
            },
            {
              "name": "p_close",
              "value": "={{$json.p_close || false}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff3d8221-36da-4587-a3bd-7dbcb45f0f37",
      "name": "RPC_patch_conversation_success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        820,
        -160
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$node.FN_render_success.json.reply}}",
        "options": {}
      },
      "id": "fa8b07e9-df09-45b9-b7f4-7596769963db",
      "name": "Respond_success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1080,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_suggest_slots'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.suggest_body}}",
        "options": {}
      },
      "id": "4964d35c-0262-4365-9342-7b11ef0d8231",
      "name": "RPC_suggest_slots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputItems = typeof $input !== 'undefined' ? $input.all().map((item) => item.json) : [$json];\nconst slots = inputItems.filter((item) => item && item.starts_at && item.ends_at);\nconst original = $node.FN_appointment_state_machine.json;\nconst previousPatch = original.data_patch?.appointment ?? {};\nconst nextStep = original.next_step;\nif (!slots.length) {\n  return [{ json: { action: 'patch', reply: 'Nao encontrei horarios livres nesse periodo. Envie *mais* para procurar adiante ou escolha outro periodo: 1 manha, 2 tarde, 3 noite, 4 primeiro horario livre.', conversation_id: original.conversation_id, next_step: nextStep, p_close: false, data_patch: original.data_patch } }];\n}\nconst lines = slots.map((slot, index) => String(index + 1) + ') ' + slot.label);\nreturn [{ json: { action: 'patch', reply: 'Encontrei estes horarios:\\n' + lines.join('\\n') + '\\n\\nResponda o numero desejado ou envie *mais* para ver outras opcoes.', conversation_id: original.conversation_id, next_step: nextStep, p_close: false, data_patch: { ...original.data_patch, appointment: { ...previousPatch, available_slots: slots.map((slot) => ({ starts_at: slot.starts_at, ends_at: slot.ends_at, label: slot.label, staff_member_id: slot.staff_member_id, staff_member_name: slot.staff_member_name })) } } } }];"
      },
      "id": "77825bd2-b639-4489-bd87-9acfd9558ebc",
      "name": "FN_render_slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_apply_customer_action'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.apply_body}}",
        "options": {}
      },
      "id": "316994a7-43a3-4902-bb3d-7c11824f8fdc",
      "name": "RPC_apply_customer_action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $node.FN_appointment_state_machine.json;\nconst action = original.applied_action;\nconst replyByAction = { confirm: 'Horario confirmado. Obrigado! Esperamos voce no dia combinado.', cancel: 'Agendamento cancelado. Se precisar marcar outro horario, envie *menu*.', reschedule: 'Horario remarcado com sucesso. Obrigado!' };\nreturn [{ json: { reply: replyByAction[action] || 'Agendamento atualizado com sucesso.', conversation_id: original.conversation_id, next_step: original.next_step, p_close: true, data_patch: original.data_patch } }];"
      },
      "id": "a7ca4a23-3fe4-4300-8d7c-f5dd677ad667",
      "name": "FN_render_action_success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_appointment_conversation_patch'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_conversation_id",
              "value": "={{$json.conversation_id}}"
            },
            {
              "name": "p_step",
              "value": "={{$json.next_step}}"
            },
            {
              "name": "p_patch",
              "value": "={{$json.data_patch}}"
            },
            {
              "name": "p_close",
              "value": "={{$json.p_close || false}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6a71a05-7b0e-4236-88c2-a2c60dd8073f",
      "name": "RPC_patch_action_success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        820,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$node.FN_render_action_success.json.reply}}",
        "options": {}
      },
      "id": "7923c5f5-f8e2-4dc8-8f07-e6b9c984011d",
      "name": "Respond_action_success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1080,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "RPC_load_context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_load_context": {
      "main": [
        [
          {
            "node": "FN_appointment_state_machine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_appointment_state_machine": {
      "main": [
        [
          {
            "node": "Switch_action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_action": {
      "main": [
        [
          {
            "node": "RPC_create_appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RPC_suggest_slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RPC_apply_customer_action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RPC_patch_conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_create_appointment": {
      "main": [
        [
          {
            "node": "FN_render_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_render_success": {
      "main": [
        [
          {
            "node": "RPC_patch_conversation_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_patch_conversation": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_patch_conversation_success": {
      "main": [
        [
          {
            "node": "Respond_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_suggest_slots": {
      "main": [
        [
          {
            "node": "FN_render_slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_render_slots": {
      "main": [
        [
          {
            "node": "RPC_patch_slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_patch_slots": {
      "main": [
        [
          {
            "node": "Respond_slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_apply_customer_action": {
      "main": [
        [
          {
            "node": "FN_render_action_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_render_action_success": {
      "main": [
        [
          {
            "node": "RPC_patch_action_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_patch_action_success": {
      "main": [
        [
          {
            "node": "Respond_action_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
