n8n/WA_TENANT_BILLING_SIGNUP_INBOUND_v1.workflow.json
{
  "name": "WA_TENANT_BILLING_SIGNUP_INBOUND_v1",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-tenant-billing-signup-inbound-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4f4a826a-e037-48cc-bc8e-38e87ea7e1f0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "6a3c35c5-e1c8-48c7-a09b-6d7e65d10158",
      "position": [
        -900,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? {};\nconst onlyDigits = (value) => String(value ?? '').replace(/\\D/g, '');\nconst normalizeBrazilPhone = (value) => {\n  const digits = onlyDigits(value);\n  if (digits.length === 10 || digits.length === 11) return `55${digits}`;\n  return digits;\n};\nconst msg = String(body.text ?? body.message ?? '').replace(/\\s+/g, ' ').trim();\nconst chatId = normalizeBrazilPhone(body.chat_id ?? body.from ?? body.customer_phone_e164 ?? '');\nreturn {\n  tenant_id: body.tenant_id || null,\n  tenant_phone_e164: normalizeBrazilPhone(body.tenant_phone_e164 ?? body.to ?? body.receiver ?? ''),\n  customer_phone_e164: normalizeBrazilPhone(body.customer_phone_e164 ?? body.from ?? body.chat_id ?? ''),\n  chat_id: chatId,\n  msg,\n  raw_body: body\n};"
      },
      "id": "7fba5a0d-1f2e-457a-8fd4-f8dfd1d4977a",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_billing_signup_load_or_create_context_v3'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_tenant_id",
              "value": "={{$json.tenant_id}}"
            },
            {
              "name": "p_tenant_phone_e164",
              "value": "={{$json.tenant_phone_e164}}"
            },
            {
              "name": "p_chat_id",
              "value": "={{$json.chat_id}}"
            },
            {
              "name": "p_message_body",
              "value": "={{$json.msg}}"
            },
            {
              "name": "p_init_payload",
              "value": "={{ { signup: { customer_whatsapp: $json.customer_phone_e164 } } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd4be029-a36b-4efe-bb42-93d474272281",
      "name": "RPC_load_signup_context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = Array.isArray($json) ? $json[0] : $json;\nconst msg = String($node.Normalize.json.msg ?? '').replace(/\\s+/g, ' ').trim();\nconst customerPhone = String($node.Normalize.json.customer_phone_e164 ?? '').trim();\nconst payload = row.payload_draft ?? {};\nconst draft = payload.signup ?? {};\nconst groups = Array.isArray(row.groups) ? row.groups : [];\nconst config = row.signup_config ?? {};\nconst plans = Array.isArray(config.plans) ? config.plans : [];\nconst step = row.step || 'billing_signup_welcome';\nconst tenantName = row.tenant_name || 'o professor';\n\nfunction normalize(value) {\n  return String(value ?? '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').trim();\n}\n\nfunction onlyDigits(value) {\n  return String(value ?? '').replace(/\\D/g, '');\n}\n\nfunction isValidCpf(value) {\n  const cpf = onlyDigits(value);\n  if (cpf.length !== 11 || /^(\\d)\\1{10}$/.test(cpf)) return false;\n  const digit = (length) => {\n    let sum = 0;\n    for (let index = 0; index < length; index += 1) {\n      sum += Number(cpf[index]) * (length + 1 - index);\n    }\n    const remainder = (sum * 10) % 11;\n    return remainder === 10 ? 0 : remainder;\n  };\n  return digit(9) === Number(cpf[9]) && digit(10) === Number(cpf[10]);\n}\n\nfunction formatCpf(value) {\n  const cpf = onlyDigits(value);\n  return cpf.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4');\n}\n\nfunction parseBirthDate(value) {\n  const text = String(value ?? '').trim();\n  let day;\n  let month;\n  let year;\n  let match = text.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (match) {\n    day = Number(match[1]);\n    month = Number(match[2]);\n    year = Number(match[3]);\n  } else {\n    match = text.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n    if (!match) return null;\n    year = Number(match[1]);\n    month = Number(match[2]);\n    day = Number(match[3]);\n  }\n\n  const birth = new Date(Date.UTC(year, month - 1, day));\n  if (birth.getUTCFullYear() !== year || birth.getUTCMonth() !== month - 1 || birth.getUTCDate() !== day) return null;\n\n  const todayParts = Object.fromEntries(\n    new Intl.DateTimeFormat('en', {\n      timeZone: 'America/Fortaleza',\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit'\n    }).formatToParts(new Date()).filter((part) => part.type !== 'literal').map((part) => [part.type, Number(part.value)])\n  );\n  let age = todayParts.year - year;\n  if (todayParts.month < month || (todayParts.month === month && todayParts.day < day)) age -= 1;\n  if (age < 0 || age > 120) return null;\n\n  return {\n    iso: String(year).padStart(4, '0') + '-' + String(month).padStart(2, '0') + '-' + String(day).padStart(2, '0'),\n    display: String(day).padStart(2, '0') + '/' + String(month).padStart(2, '0') + '/' + String(year),\n    age\n  };\n}\n\nfunction formatMoney(cents) {\n  return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(Number(cents) / 100);\n}\n\nfunction reply(text, nextStep, patch = {}, close = false) {\n  return [{ json: {\n    action: 'patch',\n    to: customerPhone || draft.customer_whatsapp,\n    reply: text,\n    conversation_id: row.conversation_id,\n    next_step: nextStep,\n    p_close: close,\n    data_patch: {\n      flow_version: 3,\n      signup: { ...patch, customer_whatsapp: customerPhone || draft.customer_whatsapp || null },\n      metadata: { last_step: nextStep, updated_at: new Date().toISOString() }\n    }\n  }}];\n}\n\nfunction resolveChoice(value, options) {\n  const text = String(value ?? '').trim();\n  const leading = text.match(/^(\\d+)(?:[.)\\s]|$)/);\n  if (leading) {\n    const selected = options[Number(leading[1]) - 1];\n    if (selected) return selected;\n  }\n  const wanted = normalize(text);\n  return options.find((option) => normalize(option.name) === wanted) || null;\n}\n\nfunction renderPlanPrompt() {\n  const options = plans.map((plan, index) =>\n    String(index + 1) + ') ' + plan.name + ' · ' + formatMoney(plan.amount_cents) + ' · vence dia ' + plan.due_day\n  ).join('\\n');\n  return 'Escolha o plano de mensalidade que combina com você:\\n\\n' + options;\n}\n\nfunction renderGroupPrompt() {\n  const options = groups.map((group, index) =>\n    String(index + 1) + ') ' + group.name\n  ).join('\\n');\n  return 'Agora escolha uma turma disponível:\\n\\n' + options;\n}\n\nfunction renderSummary(values) {\n  const billingLabel = values.signup_plan_name || (config.mode === 'fixed' ? 'Mensalidade fixa' : 'Plano escolhido');\n  const guardian = values.guardian_full_name\n    ? '\\nResponsável: ' + values.guardian_full_name + '\\nCPF do responsável: ' + formatCpf(values.guardian_cpf)\n    : '';\n  return 'Confira os dados antes de enviar para ' + tenantName + ':\\n\\n' +\n    'Nome: ' + values.full_name + '\\n' +\n    'E-mail: ' + values.email + '\\n' +\n    'CPF: ' + formatCpf(values.cpf) + '\\n' +\n    'Nascimento: ' + values.birth_date_display + guardian + '\\n' +\n    'WhatsApp: ' + (customerPhone || values.customer_whatsapp) + '\\n' +\n    billingLabel + ': ' + formatMoney(values.amount_cents) + '\\n' +\n    'Vencimento: dia ' + values.due_day + '\\n' +\n    'Turma: ' + (values.group_name || 'O professor escolherá antes de aprovar') + '\\n\\n' +\n    'Use os botões abaixo para confirmar ou refazer o cadastro.';\n}\n\nfunction nextAfterBilling(values) {\n  if (groups.length) return reply(renderGroupPrompt(), 'collect_group', values);\n  return reply(renderSummary(values), 'confirm_signup', values);\n}\n\nfunction nextAfterIdentity(values) {\n  if (config.mode === 'fixed') {\n    return nextAfterBilling({\n      ...values,\n      signup_plan_id: null,\n      signup_plan_name: 'Mensalidade fixa',\n      amount_cents: config.fixed_amount_cents,\n      due_day: config.fixed_due_day\n    });\n  }\n  return reply(renderPlanPrompt(), 'collect_signup_plan', values);\n}\n\nfunction createSignup() {\n  const notes = draft.group_name\n    ? 'Turma escolhida no WhatsApp: ' + draft.group_name + '. O professor poderá alterá-la antes da aprovação.'\n    : 'Cadastro solicitado pelo WhatsApp, sem turma definida.';\n  return [{ json: {\n    action: 'create',\n    to: customerPhone || draft.customer_whatsapp,\n    conversation_id: row.conversation_id,\n    next_step: 'billing_signup_done',\n    p_close: true,\n    create_body: {\n      p_tenant_id: row.tenant_id,\n      p_full_name: draft.full_name,\n      p_whatsapp_e164: customerPhone || draft.customer_whatsapp,\n      p_email: draft.email,\n      p_cpf: draft.cpf,\n      p_birth_date: draft.birth_date,\n      p_guardian_full_name: draft.guardian_full_name || null,\n      p_guardian_cpf: draft.guardian_cpf || null,\n      p_group_id: draft.group_id || null,\n      p_group_name: draft.group_name || null,\n      p_signup_plan_id: draft.signup_plan_id || null,\n      p_notes: notes\n    },\n    data_patch: {\n      flow_version: 3,\n      signup: { ...draft, customer_whatsapp: customerPhone || draft.customer_whatsapp || null },\n      metadata: { completed_at: new Date().toISOString() }\n    }\n  }}];\n}\n\nif (step === 'billing_signup_disabled' || step === 'billing_signup_configuration_missing') {\n  const unavailable = String(row.welcome_message || '').replaceAll('{{tenant_name}}', tenantName);\n  return reply(unavailable, step, {});\n}\n\nif (['menu', 'inicio', 'iniciar', 'recomecar', 'refazer cadastro'].includes(normalize(msg)) || step === 'billing_signup_welcome') {\n  const welcome = String(row.welcome_message || '').replaceAll('{{tenant_name}}', tenantName);\n  return reply(welcome, 'collect_full_name', {});\n}\n\nif (!msg) return reply('Não consegui ler sua mensagem. Pode enviá-la novamente, por favor?', step, draft);\n\nif (step === 'collect_full_name') {\n  const fullName = msg.replace(/\\s+/g, ' ').trim();\n  if (fullName.split(' ').filter(Boolean).length < 2) {\n    return reply('Por favor, envie seu nome completo. Exemplo: Maria da Silva.', step, draft);\n  }\n  return reply('Qual é o seu e-mail?', 'collect_email', { ...draft, full_name: fullName });\n}\n\nif (step === 'collect_email') {\n  const email = msg.toLowerCase().trim();\n  if (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]{2,}$/.test(email)) {\n    return reply('Não consegui validar esse e-mail. Envie no formato nome@exemplo.com.', step, draft);\n  }\n  return reply('Agora envie seu CPF.', 'collect_cpf', { ...draft, email });\n}\n\nif (step === 'collect_cpf') {\n  const cpf = onlyDigits(msg);\n  if (!isValidCpf(cpf)) {\n    return reply('Esse CPF não parece válido. Confira os 11 números e envie novamente.', step, draft);\n  }\n  return reply('Qual é a sua data de nascimento? Envie no formato DD/MM/AAAA.', 'collect_birth_date', { ...draft, cpf });\n}\n\nif (step === 'collect_birth_date') {\n  const birth = parseBirthDate(msg);\n  if (!birth) {\n    return reply('Não consegui validar essa data. Envie no formato DD/MM/AAAA.', step, draft);\n  }\n  const withBirth = {\n    ...draft,\n    birth_date: birth.iso,\n    birth_date_display: birth.display,\n    is_under_14: birth.age < 14\n  };\n  if (birth.age < 14) {\n    return reply('Como o aluno tem menos de 14 anos, envie o nome completo do responsável.', 'collect_guardian_name', withBirth);\n  }\n  return nextAfterIdentity({\n    ...withBirth,\n    guardian_full_name: null,\n    guardian_cpf: null\n  });\n}\n\nif (step === 'collect_guardian_name') {\n  const guardianName = msg.replace(/\\s+/g, ' ').trim();\n  if (guardianName.split(' ').filter(Boolean).length < 2) {\n    return reply('Envie o nome completo do responsável. Exemplo: Ana Maria da Silva.', step, draft);\n  }\n  return reply('Agora envie o CPF do responsável.', 'collect_guardian_cpf', { ...draft, guardian_full_name: guardianName });\n}\n\nif (step === 'collect_guardian_cpf') {\n  const guardianCpf = onlyDigits(msg);\n  if (!isValidCpf(guardianCpf)) {\n    return reply('Esse CPF não parece válido. Confira os 11 números e envie novamente.', step, draft);\n  }\n  return nextAfterIdentity({ ...draft, guardian_cpf: guardianCpf });\n}\n\nif (step === 'collect_signup_plan') {\n  const selected = resolveChoice(msg, plans);\n  if (!selected) return reply('Não identifiquei esse plano.\\n\\n' + renderPlanPrompt(), step, draft);\n  return nextAfterBilling({\n    ...draft,\n    signup_plan_id: selected.id,\n    signup_plan_name: selected.name,\n    amount_cents: selected.amount_cents,\n    due_day: selected.due_day\n  });\n}\n\nif (step === 'collect_group') {\n  const answer = normalize(msg);\n  const leading = String(msg).trim().match(/^(\\d+)(?:[.)\\s]|$)/);\n  const leaveForTeacher = leading?.[1] === '0' || ['professor seleciona', 'deixar para o professor', 'nenhum', 'nenhuma', 'nao sei'].includes(answer);\n  const selected = leaveForTeacher ? null : resolveChoice(msg, groups);\n  if (!leaveForTeacher && !selected) return reply('Não identifiquei essa turma.\\n\\n' + renderGroupPrompt(), step, draft);\n  const merged = {\n    ...draft,\n    group_id: selected?.id || null,\n    group_name: selected?.name || null\n  };\n  return reply(renderSummary(merged), 'confirm_signup', merged);\n}\n\nif (step === 'confirm_signup') {\n  const answer = normalize(msg);\n  if (['recomecar', 'refazer', 'refazer cadastro'].includes(answer)) {\n    const welcome = String(row.welcome_message || '').replaceAll('{{tenant_name}}', tenantName);\n    return reply(welcome, 'collect_full_name', {});\n  }\n  if (!['sim', 's', 'confirmar', 'confirmo', 'confirmar cadastro'].includes(answer)) {\n    return reply(renderSummary(draft), step, draft);\n  }\n  return createSignup();\n}\n\nconst welcome = String(row.welcome_message || '').replaceAll('{{tenant_name}}', tenantName);\nreturn reply(welcome, 'collect_full_name', {});"
      },
      "id": "bf013072-ec9b-4d7c-a2da-dde099f73e93",
      "name": "FN_signup_state_machine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "dd1bec83-baa9-4c79-8d7f-ece0df0ecfae",
      "name": "Switch_action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_billing_signup_submit_request_v4'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.create_body}}",
        "options": {}
      },
      "id": "cb43f142-86fc-41db-86fb-16b0c7d30f36",
      "name": "RPC_create_signup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $node.FN_signup_state_machine.json;\nconst data = Array.isArray($json) ? $json[0] : $json;\nlet reply = 'Cadastro enviado! 😊\\n\\nO professor recebeu seus dados e poderá revisar a turma antes da aprovação. Depois que ele aprovar, seu cadastro e sua mensalidade aparecerão no sistema.';\nlet nextStep = 'billing_signup_pending_approval';\nif (data.request_status === 'cpf_already_registered') {\n  reply = 'Este CPF já está cadastrado. Para consultar ou atualizar os dados do aluno, fale com a equipe do professor pelo atendimento humano.';\n  nextStep = 'billing_signup_duplicate_cpf';\n} else if (data.request_status === 'cpf_already_pending') {\n  reply = 'Já existe um cadastro com este CPF aguardando a análise do professor. Não é necessário enviar os dados novamente.';\n  nextStep = 'billing_signup_duplicate_cpf';\n}\nreturn [{ json: {\n  to: original.to,\n  reply,\n  conversation_id: original.conversation_id,\n  next_step: nextStep,\n  p_close: true,\n  data_patch: {\n    ...original.data_patch,\n    signup: {\n      ...original.data_patch.signup,\n      request_id: data.request_id,\n      request_status: data.request_status\n    },\n    metadata: { submitted_at: new Date().toISOString(), request_status: data.request_status }\n  }\n}}];"
      },
      "id": "01573ef2-a55b-4a47-8a46-312efbdab95c",
      "name": "FN_render_success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_billing_signup_conversation_patch'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_conversation_id",
              "value": "={{$json.conversation_id}}"
            },
            {
              "name": "p_step",
              "value": "={{$json.next_step}}"
            },
            {
              "name": "p_patch",
              "value": "={{$json.data_patch}}"
            },
            {
              "name": "p_close",
              "value": "={{$json.p_close || false}}"
            }
          ]
        },
        "options": {}
      },
      "id": "8bb0b68a-50aa-4337-bbf9-465ab97bcd8a",
      "name": "RPC_patch_success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        820,
        -120
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$node.FN_render_success.json.reply}}",
        "options": {}
      },
      "id": "a7d6cf23-9116-46f8-9567-fc59e8d6875d",
      "name": "Respond_success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1300,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/rpc/wa_billing_signup_conversation_patch'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_conversation_id",
              "value": "={{$json.conversation_id}}"
            },
            {
              "name": "p_step",
              "value": "={{$json.next_step}}"
            },
            {
              "name": "p_patch",
              "value": "={{$json.data_patch}}"
            },
            {
              "name": "p_close",
              "value": "={{$json.p_close || false}}"
            }
          ]
        },
        "options": {}
      },
      "id": "01c4d48f-73ad-466b-a823-5d1c17588772",
      "name": "RPC_patch_reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$node.FN_signup_state_machine.json.reply}}",
        "options": {}
      },
      "id": "f3c0ef21-d802-4996-b6ca-9d1717e6a59e",
      "name": "Respond_reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        820,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "RPC_load_signup_context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_load_signup_context": {
      "main": [
        [
          {
            "node": "FN_signup_state_machine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_signup_state_machine": {
      "main": [
        [
          {
            "node": "Switch_action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_action": {
      "main": [
        [
          {
            "node": "RPC_create_signup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RPC_patch_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_create_signup": {
      "main": [
        [
          {
            "node": "FN_render_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_render_success": {
      "main": [
        [
          {
            "node": "RPC_patch_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_patch_success": {
      "main": [
        [
          {
            "node": "Respond_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC_patch_reply": {
      "main": [
        [
          {
            "node": "Respond_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
